.skill {
    display:none;
  }
.skill img{
  width: 100%;
}
  .body .right ul {
    width: 100%;
    background-color: #fff;
  }
  .body .right p {
    position:absolute;
    left:100px;
    top:100px;
    margin-top: 100px;
    height:500px;
    float:left;
    display:none;
  }
  form{
    display:none;
  }
